/* Scrollbar umum */
.custom-scrollbar::-webkit-scrollbar {
  width: 8px;
  height: 8px;
}


/* Track (latar belakang scrollbar) */
.custom-scrollbar::-webkit-scrollbar-track {
  background: #f0f0f0; /* Warna latar */
  border-radius: 4px;
}

/* Handle (pegangan scrollbar) */
.custom-scrollbar::-webkit-scrollbar-thumb {
  background: #DBDADA; /* Warna pegangan */
  border-radius: 4px;
  transition: background 0.3s;
}

.custom-scrollbar:hover::-webkit-scrollbar-thumb {
  background: #C2C2C2; /* Mengubah warna scrollbar saat elemen di-hover */
}
